
<h3<%=@department.name %></h3>

<p>Click on a link to choose a practioner</p>

<% @department.practitioners.each do |practitioner| %>
 <p>Name:<%= link_to practitioner.name, practitioner_path(practitioner.id)%></p>
 <p>speciality: <%=practitioner.department.name %></p><br>
<% end %>
