<h1>Your appointments</h1>


<% @appointments.each do |appointment| %>
  <h3>Practitioner: <%= link_to appointment.practitioner.name, appointment_path(appointment) %></h3>
  <p>Clinic: <%= link_to appointment.practitioner.department.clinic.name, clinic_path(appointment.practitioner.department.clinic.id)%> | <%=appointment.practitioner.department.clinic.address%></p>
<% end %>
