

<h1><%=@appointment.department.name%></h1>

<h2>Your are seeing <%= @appointment.practitioner %></h2>

<p>Your appointment is on <%= @appointment.date %></p>

<p>Your appointment is at <%= @appointment.time %></p>
